<ion-header [translucent]="true">
  <ion-toolbar color="azulmb">
    <ion-title>
      Bebidas :)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="light">

  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://imagens.gimba.com.br/objetosmidia/ExibirObjetoMidia?Id=103584&width=400&height=400" alt="cerveja brahma">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Cerveja Brahma 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>03,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="http://s3.amazonaws.com/storage.wobiz.com/162/162868/images/Large/1586927661_9ec993d6650f71c9166c373085f12da7.162868.jpeg" alt="cerveja itaipava">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Cerveja Itaipava 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>02,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>
  
    </ion-row>
  </ion-grid>
 

  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://w1.ezcdn.com.br/superemkasa/fotos/grande/20402fg1/refrigerante-coca-cola-2l.jpg" alt="coca-cola">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Coca-Cola
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">2l</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>12,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://super-giga.s3.amazonaws.com/media/uploads/produto/refrigerante_fanta_uva_pet_2_litros_bea5d697-565c-4fac-b03c-e0d60ad6f86d.jpg" alt="fanta uva">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Fanta Uva
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">2l</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>10,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>
  
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://www.viadupla.com.br/painel/uploads/viadupla/produtos_imagens/suco-de-laranja242.jpg" alt="suco laranja">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Suco De laranja
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350 ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>7,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://restaurantehassan.com.br/wp-content/uploads/2020/08/suco-maracuja.jpg" alt="suco de maracuja">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Suco De Maracuja
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>08,00</span></ion-note>
          </ion-item>
       
        </ion-card>
        
      </ion-col>
  
    </ion-row>
  </ion-grid>


</ion-content>
